<?xml version="1.0"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Partner>2088221484266786</Partner>
  <Key>cgddwwl0ve3pda1ur5who8wcasglw0ze</Key>
  <Seller>qtb2016@163.com</Seller>
  <PayFee>0</PayFee>
  <FreeMoney>0</FreeMoney>
</PluginSetInfo>