@model BrnMall.PayPlugin.WeiXin.models.PayShowModel
@{
    Layout = "/views/shared/_layout.cshtml";
    string getStateUrl = Url.Action("IsPayedOrder", "WeiXin", new RouteValueDictionary { { "oidLst", Model.OidList } });

    string returnUrl = BrnMall.Core.BMAConfig.MallConfig.SiteUrl + "order/payresult?oidlist=" + Model.OidList;
}
<style>
.order-tip{width:750px; height:330px; margin-left:350px; margin-top:60px;}
.order-tip p{ float:left; font-size:initial;}
.boxclear{width:100%; height:30px;}
</style>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/admin_mall/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        var flag = false;
        $(document).ready(function () {
            if (flag == false) {
                setInterval("ajaxstatus()", 5000);
            }
        });
        
        function ajaxstatus() {
            $.ajax({
                url: '@getStateUrl', //调用ashx获得订单状态
                type: "GET",
                dataType: "json",
                data: "",
                success: function (data) {
                    flag = true;
                    if (data == 1) { //订单状态为1表示支付成功
                        window.location.href = "@returnUrl"; //页面跳转
                    }
                }
            });
        } 
    </script>

<div class="order-tip">
<p> 支付方式：微信扫码支付 </p>
<div class="boxclear"></div>
<p>应付金额：<font style="color:#cc0000; font-weight:bold;">@((decimal)Model.AllSurplusMoney/100) 元</font></p>
<div class="boxclear"></div>
<p>该二维码有效期是20分钟，请在20分钟内完成扫码支付，支付成功后页面会自动跳转...</p>
<div class="boxclear"></div>
   <p> <img src="@Url.Action("DrawNativeImg","WeiXin",new RouteValueDictionary { { "url", Model.ImgUrl }})" alt="" style="width:220px;height:220px;"/></p>
</div>
