<?xml version="1.0"?>
<CreditConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Point>50</Point>
  <MinAmount>50</MinAmount>
  <MinWithdrawal>10</MinWithdrawal>
  <MinAmount>50</MinAmount>
  <RankCreditName>成长值</RankCreditName>
  <DayMaxSendRankCredits>200</DayMaxSendRankCredits>
  <RegisterRankCredits>2</RegisterRankCredits>
  <LoginRankCredits>0</LoginRankCredits>
  <VerifyEmailRankCredits>2</VerifyEmailRankCredits>
  <VerifyMobileRankCredits>2</VerifyMobileRankCredits>
  <CompleteUserInfoRankCredits>2</CompleteUserInfoRankCredits>
  <CompleteOrderRankCredits>50</CompleteOrderRankCredits>
  <ReviewProductRankCredits>2</ReviewProductRankCredits>
</CreditConfigInfo>