<?xml version="1.0" encoding="utf-8"?>
<RDBSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RDBSConnectString>
    Data Source=.;Initial Catalog=brnmall;Integrated Security=True
  </RDBSConnectString>
  <RDBSTablePre>bma_</RDBSTablePre>
  <RDBSType>SqlServer</RDBSType>
</RDBSConfigInfo>