<?xml version="1.0"?>
<SMSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Url>http://sms.bechtech.cn/Api/send/data/json</Url>
  <UserName>789</UserName>
  <Password>98d5a46d08dc6d77d72d2472fcc01ba521ef34f5</Password>
  <FindPwdBody>您正在{mallname}做找回密码操作，验证码为{code}，请在5分钟内进行验证操作。【精生缘】</FindPwdBody>
  <SCVerifyBody>欢迎注册{mallname}，验证码为{code}，请在5分钟内进行验证操作。【精生缘】</SCVerifyBody>
  <SCUpdateBody>您正在{mallname}做修改用户信息操作，验证码为{code}，请在5分钟内进行验证操作。【精生缘】</SCUpdateBody>
  <WebcomeBody>欢迎注册{mallname}{regtime}{mobile}</WebcomeBody>
</SMSConfigInfo>