<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <APPID>wx8d22c79e2ee3d68d</APPID>
  <MCHID>1327189101</MCHID>
  <IOSAPPID>wx8d22c79e2ee3d68d</IOSAPPID>
  <IOSMCHID>1327189101</IOSMCHID>
  <ANDROIDAPPID>wx8d22c79e2ee3d68d</ANDROIDAPPID>
  <ANDROIDMCHID>1327189101</ANDROIDMCHID>
  <Key>oJC5nGxuom2e1vJL03EQcH7CloxewnRP</Key>
  <APPSECRET>513d97252d39b2cce65d8e4b79f98c4d </APPSECRET>
</PluginSetInfo>