<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>weixin</SystemName>
  <FriendlyName>微信</FriendlyName>
  <ClassFullName>BrnMall.PayPlugin.WeiXin.codes.PluginService,BrnMall.PayPlugin.WeiXin</ClassFullName>
  <Folder>BrnMall.PayPlugin.WeiXin</Folder>
  <Description>微信支付</Description>
  <Type>1</Type>
  <Author>better</Author>
  <Version>1.0</Version>
  <SupVersion>1.0.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>