<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>creditpay</SystemName>
  <FriendlyName>余额支付</FriendlyName>
  <ClassFullName>BrnMall.PayPlugin.CreditPay.PluginService,BrnMall.PayPlugin.CreditPay</ClassFullName>
  <Folder>BrnMall.PayPlugin.CreditPay</Folder>
  <Description>余额不足则无法支付</Description>
  <Type>1</Type>
  <Author>better</Author>
  <Version>1.0</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>