@{
    Layout = "~/mobile/Views/Shared/_layout.cshtml";
    ViewBag.Title = "错误提示";
}
<div style="padding:20px 15px; font-size:20px; text-align:center;">
<img src="/mobile/images/error_baby.png" style="width:70px; height:70px; vertical-align:middle; margin-bottom:10px;" /><br />
抱歉，网站貌似出了点问题，请退出重新打开，若还是没有解决，请联系我们~</div>