@model BrnMall.Web.Framework.PromptModel
@{
    Layout = "~/mobile/Views/Shared/_layout.cshtml";
    ViewBag.Title = "消息提示";
}
<div style="padding:40px; font-size:20px; text-align:center;">@Model.Message</div>